<div class="js-sidebar-content">
    <header class="logo d-none d-md-block">
        <div style="text-align: left; padding-left: 25px">
        </div>
        <img style="max-width: 50%;" src="assets/icon/ico.png">
    </header>

    <ul class="sidebar-nav">
        <li routerLinkActive="active">
            <a class="main-item" routerLink="dashboard">
                <span>
                    <div>
                        <img id="home" src="assets/sidebar-icons/home-unselected.svg">
                        <span class="text">Dashboard</span>
                    </div>
                    <img class="arrow-right" src="assets/img/arrow-right.svg">
                </span>
            </a>
        </li>
    </ul>
<!--    <div class="centered" style="position: relative; bottom: 18px; width: 100%;">-->
<!--        <span style="font-size: 12px;">v. {{ version }}</span>-->
<!--    </div>-->
</div>

